[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "redis3m"]
	path = redis3m
	url = https://github.com/yunba/redis3m
	branch = feature/cmake-issue
[submodule "gtest"]
	path = gtest
	url = https://github.com/logcabin/gtest
[submodule "redis"]
	path = redis
	url = https://github.com/TigerZhang/redis
	branch = reloadrdbfrom
