[submodule "gtest"]
	path = gtest
	# relative URL, usually goes to https://github.com/logcabin/gtest.git
	url = ../gtest.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "redis"]
	path = redis
	url = https://github.com/TigerZhang/redis.git
	branch = reloadrdbfrom
[submodule "redis3m"]
	path = redis3m
	url = https://github.com/yunba/redis3m
	branch = feature/cmake-issue
